In [3]:
import numpy as np
import pandas as pd

In [4]:
newData = {
    'Movies': ['Star-Wars', 'Star-Wars', 'Batman', 'Batman', 'Deadpool', 'Deadpool'],
    'Viewers': ['Me', 'MF', 'MOF', 'Bobby', 'Dean', 'Sammy'],
    'Ratings': [10, 7, 6, 9, 8, 5]
}

In [2]:
newData

{'Movies': ['Star-Wars',
  'Star-Wars',
  'Batman',
  'Batman',
  'Deadpool',
  'Deadpool'],
 'Viewers': ['Me', 'MF', 'MOF', 'Bobby', 'Dean', 'Sammy'],
 'Ratings': [10, 7, 6, 9, 8, 5]}

In [5]:
movieFrame = pd.DataFrame(newData)

In [6]:
movieFrame

      Movies Viewers  Ratings
0  Star-Wars      Me       10
1  Star-Wars      MF        7
2     Batman     MOF        6
3     Batman   Bobby        9
4   Deadpool    Dean        8
5   Deadpool   Sammy        5

In [17]:
movieFrame.groupby('Movies').std()

/tmp/ipykernel_40439/398267837.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  movieFrame.groupby('Movies').std()

           Ratings
Movies
Batman     2.12132
Deadpool   2.12132
Star-Wars  2.12132

In [18]:
movieFrame.groupby('Movies').std().iloc[1]

/tmp/ipykernel_40439/3964699608.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  movieFrame.groupby('Movies').std().iloc[1]

Ratings    2.12132
Name: Deadpool, dtype: float64

In [19]:
movieFrame.groupby('Movies').describe()

          Ratings
            count mean      std  min   25%  50%   75%   max
Movies
Batman        2.0  7.5  2.12132  6.0  6.75  7.5  8.25   9.0
Deadpool      2.0  6.5  2.12132  5.0  5.75  6.5  7.25   8.0
Star-Wars     2.0  8.5  2.12132  7.0  7.75  8.5  9.25  10.0