# libraries needed

## lxml, html5lib, BeautifulSoup4

In [4]:
import numpy as np

In [3]:
import pandas as pd

In [1]:
pwd

'/home/rishi/dev/MachineLearningBootcamp/03Pandas'

## Reading a csv file

In [6]:
myFrame = pd.read_csv('example-csv.csv')

In [7]:
myFrame

      1     2     3
0    11    22    33
1   111   222   333
2  1111  2222  3333

## Writing to a csv file

In [11]:
myFrame.to_csv('output1.csv')

In [12]:
pd.read_csv('output1.csv')

   Unnamed: 0     1     2     3
0           0    11    22    33
1           1   111   222   333
2           2  1111  2222  3333

In [13]:
myFrame.to_csv('output2.csv', index=False)

In [14]:
pd.read_csv('output2.csv')

      1     2     3
0    11    22    33
1   111   222   333
2  1111  2222  3333

## Reading a excel file

In [19]:
pd.read_excel('example-excel.xlsx', sheet_name='Sheet1') # mention sheet name in case of multiple sheets

       1      2      3
0     11     22     33
1    111    222    333
2   1111   2222   3333
3  11111  22222  33333